# Beginner Level Data Definition Language Statements
## CREATE, ALTER, MODIFY, DROP & Querying Dictionary Views

 * For this project, I will create six different tables. Five of these tables will be kept, the sixth one will be dropped. The goal is to demonstrate using the CREATE TABLE, ALTER TABLE, MODIFY, and DROP TABLE statements. There will also be the use of some constraints to include PRIMARY KEY, NOT NULL, DEFAULT, and UNIQUE. I will be using Oracle SQL Developer for these statements. The syntax may differ slightly depending on which relational database management system (RDBMS) you are using.

* I will be creating six different patient tables. The idea is to simulate a possible scenario in which each clinic within a hospital keeps track of their own patients. These tables will be identical in structure and data types. The goal is to eventually populate these tables with data and then practice using set operators to retrieve records from these tables.

* While creating the first table, I will also be querying from the dictionary views to see information on the table's columns and on any constraints that are in place.

The format for all tables when completed will look as follows:

|Column name |Data Type|
|:----------:| :---------- |
|patient_id| Integer value - INTEGER PRIMARY KEY|
|patient_ss| Fixed-length character string - CHAR(9) UNIQUE, NOT NULL|
|first_name| Variable-length character string - VARCHAR2(20)|
|last_name| Variable-length character string - VARCHAR2(20), NOT NULL|
|patient_dob| DATE|
|gender| Fixed-length character string CHAR(1)|
|marital_status|Variable-length character string VARCHAR2(15)|
|city| Variable-length character string VARCHAR2(20)|
|state_province|Fixed-length character string CHAR(2), DEFAULT 'WA'|
|insurance|Variable-length character string VARCHAR2(30) DEFAULT 'Self pay'|

In [1]:
# Import the Python extension module that will allow access to an Oracle database
import cx_Oracle

# Enable SQL Magics to write SQL queries
%load_ext sql

# Connect to the Oracle database using the file path along with the username and passord
%sql oracle+cx_oracle://SYSTEM:password@localhost:1521/xe

'Connected: SYSTEM@xe'

## Objective 1
### CREATE TABLE 1
Create the first table named cardio_patients demonstrating the use of CREATE TABLE and ALTER TABLE statements. I will also demonstrate using MODIFY along with adding the designated constraints as per the diagram above.

In [15]:
%%sql
CREATE TABLE cardio_patients
(
patient_id INTEGER PRIMARY KEY, 
patient_ss CHAR(9),
first_name VARCHAR2(20),
last_name VARCHAR2(15),
patient_dob DATE,
gender VARCHAR2(10),
marital_status VARCHAR2(15),
city VARCHAR2(20)
)

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[]

## Objective 2
###  ALTER TABLE
Adding in the two remaining columns(state_province, insurance).

In [31]:
%%sql
ALTER TABLE cardio_patients
ADD
(state_province CHAR(2),
insurance VARCHAR2(10))

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[]

## Objective 3
### Querying Dictionary Views
Query from the user_tab_columns dictionary to view information about the columns created in the cardio_patients table.
Refine the query to select only those columns providing information that can help in modifying columns that need to be changed.

In [37]:
%%sql
SELECT * 
FROM user_tab_columns
WHERE table_name = 'CARDIO_PATIENTS'

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[('CARDIO_PATIENTS', 'PATIENT_ID', 'NUMBER', None, None, 22, None, 0, 'N', 1, None, None, None, None, None, None, None, None, None, None, None, None, 'NO', 'NO', None, 0, None, 'NO', 'YES', 'NONE'),
 ('CARDIO_PATIENTS', 'PATIENT_SS', 'CHAR', None, None, 9, None, None, 'Y', 2, None, None, None, None, None, None, None, None, None, None, 'CHAR_CS', 9, 'NO', 'NO', None, 9, 'B', 'NO', 'YES', 'NONE'),
 ('CARDIO_PATIENTS', 'FIRST_NAME', 'VARCHAR2', None, None, 20, None, None, 'Y', 3, None, None, None, None, None, None, None, None, None, None, 'CHAR_CS', 20, 'NO', 'NO', None, 20, 'B', 'NO', 'YES', 'NONE'),
 ('CARDIO_PATIENTS', 'LAST_NAME', 'VARCHAR2', None, None, 15, None, None, 'Y', 4, None, None, None, None, None, None, None, None, None, None, 'CHAR_CS', 15, 'NO', 'NO', None, 15, 'B', 'NO', 'YES', 'NONE'),
 ('CARDIO_PATIENTS', 'PATIENT_DOB', 'DATE', None, None, 7, None, None, 'Y', 5, None, None, None, None, None, None, None, None, None, None, None, None, 'NO', 'NO', None, 0, None, 'NO', 'YES', 'NONE'),
 ('CARDIO_PATIENTS', 'GENDER', 'VARCHAR2', None, None, 10, None, None, 'Y', 6, None, None, None, None, None, None, None, None, None, None, 'CHAR_CS', 10, 'NO', 'NO', None, 10, 'B', 'NO', 'YES', 'NONE'),
 ('CARDIO_PATIENTS', 'MARITAL_STATUS', 'VARCHAR2', None, None, 15, None, None, 'Y', 7, None, None, None, None, None, None, None, None, None, None, 'CHAR_CS', 15, 'NO', 'NO', None, 15, 'B', 'NO', 'YES', 'NONE'),
 ('CARDIO_PATIENTS', 'CITY', 'VARCHAR2', None, None, 20, None, None, 'Y', 8, None, None, None, None, None, None, None, None, None, None, 'CHAR_CS', 20, 'NO', 'NO', None, 20, 'B', 'NO', 'YES', 'NONE'),
 ('CARDIO_PATIENTS', 'STATE_PROVINCE', 'CHAR', None, None, 2, None, None, 'Y', 9, None, None, None, None, None, None, None, None, None, None, 'CHAR_CS', 2, 'NO', 'NO', None, 2, 'B', 'NO', 'YES', 'NONE'),
 ('CARDIO_PATIENTS', 'INSURANCE', 'VARCHAR2', None, None, 10, None, None, 'Y', 10, None, None, None, None, None, None, None, None, None, None, 'CHAR_CS', 10, 'NO', 'NO', None, 10, 'B', 'NO', 'YES', 'NONE')]

In [39]:
%%sql
SELECT column_name, data_type, data_length, nullable, data_default
FROM user_tab_columns
WHERE table_name = 'CARDIO_PATIENTS'

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[('PATIENT_ID', 'NUMBER', 22, 'N', None),
 ('PATIENT_SS', 'CHAR', 9, 'Y', None),
 ('FIRST_NAME', 'VARCHAR2', 20, 'Y', None),
 ('LAST_NAME', 'VARCHAR2', 15, 'Y', None),
 ('PATIENT_DOB', 'DATE', 7, 'Y', None),
 ('GENDER', 'VARCHAR2', 10, 'Y', None),
 ('MARITAL_STATUS', 'VARCHAR2', 15, 'Y', None),
 ('CITY', 'VARCHAR2', 20, 'Y', None),
 ('STATE_PROVINCE', 'CHAR', 2, 'Y', None),
 ('INSURANCE', 'VARCHAR2', 10, 'Y', None)]

Desired data types and constraints

|Column name |Data Type|
|:----------:| :---------- |
|patient_id| Integer value - INTEGER PRIMARY KEY|
|patient_ss| Fixed-length character string - CHAR(9) UNIQUE, NOT NULL|
|first_name| Variable-length character string - VARCHAR2(20)|
|last_name| Variable-length character string - VARCHAR2(20), NOT NULL|
|patient_dob| DATE|
|gender| Fixed-length character string CHAR(1)|
|marital_status|Variable-length character string VARCHAR2(15)|
|city| Variable-length character string VARCHAR2(20)|
|state_province|Fixed-length character string CHAR(2), DEFAULT 'WA'|
|insurance|Variable-length character string VARCHAR2(30) DEFAULT 'Self pay'|

## Objective 4
### MODIFY 
Modify the table so that data-lengths will match the desired data types in the table above. When the data_length column is selected again, the values should read from top to bottom in the following order: 22, 9, 20, 20, 7, 1, 15, 20, 2, 30. This will be done in a single statement and then print out the column_name and data_length from the user_tabs_columns dictionary view to see that the changes were successful.

In [43]:
%%sql
ALTER TABLE cardio_patients
MODIFY
(last_name VARCHAR2(20),
gender CHAR(1),
insurance VARCHAR2(30))

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[]

In [46]:
%%sql
-- The order should be 22, 9, 20, 20, 7, 1, 15, 20, 2, 30
SELECT data_length
FROM user_tab_columns
WHERE table_name = 'CARDIO_PATIENTS'

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[(22,), (9,), (20,), (20,), (7,), (1,), (15,), (20,), (2,), (30,)]

## Objective 5
### Querying Dictionary Views 2
This time, I will be selecting from the user_contrainsts dictionary view. I will then select columns that will give me details about any constraints that have been placed for the columns in the cardio_patients table.

In [47]:
%%sql
SELECT * 
FROM user_constraints
WHERE table_name = 'CARDIO_PATIENTS'

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[('SYSTEM', 'SYS_C007959', 'P', 'CARDIO_PATIENTS', None, None, None, None, 'ENABLED', 'NOT DEFERRABLE', 'IMMEDIATE', 'VALIDATED', 'GENERATED NAME', None, None, datetime.datetime(2021, 2, 13, 13, 57, 18), 'SYSTEM', 'SYS_C007959', None, None)]

In [48]:
%%sql
SELECT constraint_type, search_condition, status
FROM user_constraints
WHERE table_name = 'CARDIO_PATIENTS'

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[('P', None, 'ENABLED')]

When looking at the results, I see only one constraint, P. The letter 'P' means that this is referencing a PRIMARY KEY, which happens to be the first column in the table. There are other columns that are supposed to have NOT NULL constraints, along with one column having a UNIQUE constraint. The NOT NULL constraint will be referenced by the letter 'C' (check constraint), and a UNIQUE constraint will be referenced with the letter 'U'.

## Objective 6
### MODIFY
Modify the table to put in the NOT NULL and UNIQUE constraints where needed. 
The modifications will be done in one statement. Then check to see that the modifications were successful.

In [2]:
%%sql
-- patient_ss should be NOT NULL and UNIQUE
-- last_name should be NOT NULL
ALTER TABLE cardio_patients
MODIFY
(patient_ss NOT NULL UNIQUE,
last_name NOT NULL)

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[]

In [3]:
%%sql
SELECT constraint_type, search_condition, status
FROM user_constraints
WHERE table_name = 'CARDIO_PATIENTS'

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[('P', None, 'ENABLED'),
 ('C', '"PATIENT_SS" IS NOT NULL', 'ENABLED'),
 ('C', '"LAST_NAME" IS NOT NULL', 'ENABLED'),
 ('U', None, 'ENABLED')]

 ## Objective 7
### MODIFY
All these modifications can be one in one single step, but I am doing this for practice and to better retain the syntax. I do need to keep in mind that it is not about memorization, but to at least understand the processes. Trying to memorize every single bit of syntax would prove to be difficult. For the last set of modifications, I will be adding in the default values for the state_province and insurance columns.

In [4]:
%%sql
-- state_province column will have a default of 'WA'
-- insurance column will have a default of 'Self pay'
ALTER TABLE cardio_patients
MODIFY
(state_province DEFAULT 'WA',
insurance DEFAULT 'Self pay')

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[]

## Objective 8
### Querying the user_tab_columns view
I will be querying the user_tab columns view to view some of the modifications that have been made to the table. I will select only the columns that provide information to see if the modifications above were successful.

In [6]:
%%sql
SELECT column_name, data_type, data_length, nullable, data_default 
FROM user_tab_columns
WHERE table_name = 'CARDIO_PATIENTS'

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[('PATIENT_ID', 'NUMBER', 22, 'N', None),
 ('PATIENT_SS', 'CHAR', 9, 'N', None),
 ('FIRST_NAME', 'VARCHAR2', 20, 'Y', None),
 ('LAST_NAME', 'VARCHAR2', 20, 'N', None),
 ('PATIENT_DOB', 'DATE', 7, 'Y', None),
 ('GENDER', 'CHAR', 1, 'Y', None),
 ('MARITAL_STATUS', 'VARCHAR2', 15, 'Y', None),
 ('CITY', 'VARCHAR2', 20, 'Y', None),
 ('STATE_PROVINCE', 'CHAR', 2, 'Y', "'WA'"),
 ('INSURANCE', 'VARCHAR2', 30, 'Y', "'Self pay'")]

When comparing the output to the output back in Objective 3, I can see the modifications to the table were successful. The data length is to my specifications, the columns that are supposed to not accept null values are not nullable, and the data-default values have been set for the state_province and insurance columns.

## Objective 9
### CREATE TABLE
I will now create five additional tables with the exact same column names and specifications as the cardio_patients tables. The table names will be primary_patients, neuro_patients, ortho_patients, gastro_patients, general_patients. The goal will be to create each table with minimal code.

In [7]:
%%sql
CREATE TABLE primary_patients
AS
SELECT * FROM cardio_patients

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[]

In [8]:
%%sql
CREATE TABLE neuro_patients
AS
SELECT * FROM primary_patients

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[]

In [9]:
%%sql
CREATE TABLE ortho_patients
AS
SELECT * FROM neuro_patients

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[]

In [10]:
%%sql 
CREATE TABLE gastro_patients
AS 
SELECT * FROM ortho_patients

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[]

In [11]:
%%sql
CREATE TABLE general_patients
AS 
SELECT * FROM gastro_patients

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[]

I decided to create each table by using a SELECT * FROM query each subsequent table created. I will now query the user_tab_column view to see if the output is the same for the general_patients table as it is for the cardio_patients table.

In [13]:
%%sql
SELECT column_name, data_type, data_length, nullable, data_default  
FROM user_tab_columns
WHERE table_name IN('CARDIO_PATIENTS', 'GENERAL_PATIENTS')

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[('PATIENT_ID', 'NUMBER', 22, 'N', None),
 ('PATIENT_SS', 'CHAR', 9, 'N', None),
 ('FIRST_NAME', 'VARCHAR2', 20, 'Y', None),
 ('LAST_NAME', 'VARCHAR2', 20, 'N', None),
 ('PATIENT_DOB', 'DATE', 7, 'Y', None),
 ('GENDER', 'CHAR', 1, 'Y', None),
 ('MARITAL_STATUS', 'VARCHAR2', 15, 'Y', None),
 ('CITY', 'VARCHAR2', 20, 'Y', None),
 ('STATE_PROVINCE', 'CHAR', 2, 'Y', "'WA'"),
 ('INSURANCE', 'VARCHAR2', 30, 'Y', "'Self pay'"),
 ('PATIENT_ID', 'NUMBER', 22, 'Y', None),
 ('PATIENT_SS', 'CHAR', 9, 'N', None),
 ('FIRST_NAME', 'VARCHAR2', 20, 'Y', None),
 ('LAST_NAME', 'VARCHAR2', 20, 'N', None),
 ('PATIENT_DOB', 'DATE', 7, 'Y', None),
 ('GENDER', 'CHAR', 1, 'Y', None),
 ('MARITAL_STATUS', 'VARCHAR2', 15, 'Y', None),
 ('CITY', 'VARCHAR2', 20, 'Y', None),
 ('STATE_PROVINCE', 'CHAR', 2, 'Y', None),
 ('INSURANCE', 'VARCHAR2', 30, 'Y', None)]

In [14]:
%%sql
-- Viewing the user_constraints view to further conclude that the primary key values were not copied. 
SELECT constraint_type, search_condition
FROM user_constraints
WHERE table_name IN('PRIMARY_PATIENTS', 'NEURO_PATIENTS', 'ORTHO_PATIENTS', 'GASTRO_PATIENTS', 'GENERAL_PATIENTS')

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[('C', '"LAST_NAME" IS NOT NULL'),
 ('C', '"PATIENT_SS" IS NOT NULL'),
 ('C', '"LAST_NAME" IS NOT NULL'),
 ('C', '"PATIENT_SS" IS NOT NULL'),
 ('C', '"LAST_NAME" IS NOT NULL'),
 ('C', '"PATIENT_SS" IS NOT NULL'),
 ('C', '"LAST_NAME" IS NOT NULL'),
 ('C', '"PATIENT_SS" IS NOT NULL'),
 ('C', '"LAST_NAME" IS NOT NULL'),
 ('C', '"PATIENT_SS" IS NOT NULL')]

It looks like creating tables using the AS SELECT * FROM table_name only copies the NOT NULL constraint. I will need to go through each newly created table set the PRIMARY KEY constraint for the patient_id column, set the UNIQUE constraint for the patient_ss column, and add my default values for the state_province and insurance columns. I will do these for all tables excluding the general_patients table, since I plan to drop that table.

In [20]:
%%sql
ALTER TABLE primary_patients
MODIFY 
(patient_id PRIMARY KEY,
patient_ss UNIQUE,
state_province DEFAULT 'WA',
insurance DEFAULT 'Self pay')

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[]

In [21]:
%%sql
ALTER TABLE neuro_patients
MODIFY
(patient_id PRIMARY KEY,
patient_ss UNIQUE,
state_province DEFAULT 'WA',
insurance DEFAULT 'Self pay')

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[]

In [22]:
%%sql
ALTER TABLE ortho_patients
MODIFY
(patient_id PRIMARY KEY,
patient_ss UNIQUE,
state_province DEFAULT 'WA',
insurance DEFAULT 'Self pay')

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[]

In [23]:
%%sql
ALTER TABLE gastro_patients
MODIFY
(patient_id PRIMARY KEY,
patient_ss UNIQUE,
state_province DEFAULT 'WA',
insurance DEFAULT 'Self pay')

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[]

In [24]:
%%sql
SELECT constraint_type, search_condition
FROM user_constraints 
WHERE table_name IN('PRIMARY_PATIENTS', 'NEURO_PATIENTS', 'ORTHO_PATIENTS', 'GASTRO_PATIENTS')

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[('C', '"LAST_NAME" IS NOT NULL'),
 ('C', '"PATIENT_SS" IS NOT NULL'),
 ('C', '"LAST_NAME" IS NOT NULL'),
 ('C', '"PATIENT_SS" IS NOT NULL'),
 ('C', '"LAST_NAME" IS NOT NULL'),
 ('C', '"PATIENT_SS" IS NOT NULL'),
 ('C', '"LAST_NAME" IS NOT NULL'),
 ('C', '"PATIENT_SS" IS NOT NULL'),
 ('U', None),
 ('P', None),
 ('U', None),
 ('P', None),
 ('U', None),
 ('P', None),
 ('U', None),
 ('P', None)]

In [28]:
%%sql
SELECT column_name, data_type, data_length, nullable, data_default
FROM user_tab_columns
WHERE table_name = 'PRIMARY_PATIENTS'

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[('PATIENT_ID', 'NUMBER', 22, 'N', None),
 ('PATIENT_SS', 'CHAR', 9, 'N', None),
 ('FIRST_NAME', 'VARCHAR2', 20, 'Y', None),
 ('LAST_NAME', 'VARCHAR2', 20, 'N', None),
 ('PATIENT_DOB', 'DATE', 7, 'Y', None),
 ('GENDER', 'CHAR', 1, 'Y', None),
 ('MARITAL_STATUS', 'VARCHAR2', 15, 'Y', None),
 ('CITY', 'VARCHAR2', 20, 'Y', None),
 ('STATE_PROVINCE', 'CHAR', 2, 'Y', "'WA'"),
 ('INSURANCE', 'VARCHAR2', 30, 'Y', "'Self pay'")]

In [29]:
%%sql
SELECT column_name, data_type, data_length, nullable, data_default
FROM user_tab_columns
WHERE table_name = 'NEURO_PATIENTS'

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[('PATIENT_ID', 'NUMBER', 22, 'N', None),
 ('PATIENT_SS', 'CHAR', 9, 'N', None),
 ('FIRST_NAME', 'VARCHAR2', 20, 'Y', None),
 ('LAST_NAME', 'VARCHAR2', 20, 'N', None),
 ('PATIENT_DOB', 'DATE', 7, 'Y', None),
 ('GENDER', 'CHAR', 1, 'Y', None),
 ('MARITAL_STATUS', 'VARCHAR2', 15, 'Y', None),
 ('CITY', 'VARCHAR2', 20, 'Y', None),
 ('STATE_PROVINCE', 'CHAR', 2, 'Y', "'WA'"),
 ('INSURANCE', 'VARCHAR2', 30, 'Y', "'Self pay'")]

In [30]:
%%sql
SELECT column_name, data_type, data_length, nullable, data_default
FROM user_tab_columns
WHERE table_name = 'ORTHO_PATIENTS'

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[('PATIENT_ID', 'NUMBER', 22, 'N', None),
 ('PATIENT_SS', 'CHAR', 9, 'N', None),
 ('FIRST_NAME', 'VARCHAR2', 20, 'Y', None),
 ('LAST_NAME', 'VARCHAR2', 20, 'N', None),
 ('PATIENT_DOB', 'DATE', 7, 'Y', None),
 ('GENDER', 'CHAR', 1, 'Y', None),
 ('MARITAL_STATUS', 'VARCHAR2', 15, 'Y', None),
 ('CITY', 'VARCHAR2', 20, 'Y', None),
 ('STATE_PROVINCE', 'CHAR', 2, 'Y', "'WA'"),
 ('INSURANCE', 'VARCHAR2', 30, 'Y', "'Self pay'")]

In [31]:
%%sql
SELECT column_name, data_type, data_length, nullable, data_default
FROM user_tab_columns
WHERE table_name = 'GASTRO_PATIENTS'

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[('PATIENT_ID', 'NUMBER', 22, 'N', None),
 ('PATIENT_SS', 'CHAR', 9, 'N', None),
 ('FIRST_NAME', 'VARCHAR2', 20, 'Y', None),
 ('LAST_NAME', 'VARCHAR2', 20, 'N', None),
 ('PATIENT_DOB', 'DATE', 7, 'Y', None),
 ('GENDER', 'CHAR', 1, 'Y', None),
 ('MARITAL_STATUS', 'VARCHAR2', 15, 'Y', None),
 ('CITY', 'VARCHAR2', 20, 'Y', None),
 ('STATE_PROVINCE', 'CHAR', 2, 'Y', "'WA'"),
 ('INSURANCE', 'VARCHAR2', 30, 'Y', "'Self pay'")]

In [32]:
%%sql
-- Using the cardio_patients table as a reference to see that all table structures match
SELECT column_name, data_type, data_length, nullable, data_default
FROM user_tab_columns
WHERE table_name = 'CARDIO_PATIENTS'

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[('PATIENT_ID', 'NUMBER', 22, 'N', None),
 ('PATIENT_SS', 'CHAR', 9, 'N', None),
 ('FIRST_NAME', 'VARCHAR2', 20, 'Y', None),
 ('LAST_NAME', 'VARCHAR2', 20, 'N', None),
 ('PATIENT_DOB', 'DATE', 7, 'Y', None),
 ('GENDER', 'CHAR', 1, 'Y', None),
 ('MARITAL_STATUS', 'VARCHAR2', 15, 'Y', None),
 ('CITY', 'VARCHAR2', 20, 'Y', None),
 ('STATE_PROVINCE', 'CHAR', 2, 'Y', "'WA'"),
 ('INSURANCE', 'VARCHAR2', 30, 'Y', "'Self pay'")]

## Objective 10
### DROP TABLE
I will conclude this session by dropping the general_patients table.

In [35]:
%sql DROP TABLE general_patients

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe
0 rows affected.

[]

In [46]:
%sql SELECT * FROM general_patients -- Should get an error message saying table or view does not exist.

 * oracle+cx_oracle://SYSTEM:***@localhost:1521/xe

DatabaseError: (cx_Oracle.DatabaseError) ORA-00942: table or view does not exist
[SQL: SELECT * FROM general_patients -- Should get an error message saying table or view does not exist.]
(Background on this error at: http://sqlalche.me/e/4xp6)